body {
	margin:20px auto;
	max-width:600px;
	line-height:1.5em;
	font-size:1.1em;
	background-color:#252525;
	color:#d9d9d9;
	padding:0 10px;
	font-family:monospace;
	hyphens:auto
}

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	white-space:nowrap;
	font-variant:small-caps
}

nav {
	display:inline-block
}

nav li {
	display:inline-block no;
	margin-right:20px
}

a {
	color:#bc642d;
	text-decoration:none
}

a:hover {
	color:#b29730
}

h1,h2,h3 {
	line-height:1.2;
	color:#658d36;
	font-size:1.1em
}

pre {
	tab-size:4
}
